<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="firstName" value="{{this.first_name}}" placeholder="First Name"
            name="first_name">
        <label for="floatingInput">First Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="lastName" value="{{this.last_name}}" placeholder="Last Name"
            name="last_name">
        <label for="floatingInput">Last Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" value="{{this.email}}" placeholder="example@gmail.com"
            name="email">
        <label for="floatingInput">Email</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" value="{{this.phone}}" placeholder="Phone" name="phone">
        <label for="floatingInput">Phone</label>
    </div>
</div>

<div class="col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" name="comments" id="comments"
            style="height: 120px">{{this.comments}}</textarea>
        <label for="floatingTextarea2">About</label>
    </div>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-dark" type="submit" id="submit">Submit</button>
</div>

{{!-- <div class="col-12">
    <button class="btn btn-primary" id="submit" type="button">Add User</button>
</div> --}}

<script>
    document.body.style = 'background: #343a40';
    let mode = 'dark';
    let navBar = document.getElementById('navBar');
    let searchBtn = document.getElementById('searchBtn');
    let modeSwitchBtn = document.getElementById('switchModeBtn');
    let switchModeBtnLabel = document.getElementById('labelForMode');
    let submit = document.getElementById('submit');
    modeSwitchBtn.addEventListener("click", () => {
        if (mode === 'dark') {
            document.body.style = 'background: white';
            navBar.setAttribute('class', 'navbar navbar-expand-lg navbar-dark bg-primary');
            searchBtn.setAttribute('class', 'btn btn-outline-light')
            switchModeBtnLabel.setAttribute('style', "color: white")
            switchModeBtnLabel.innerHTML = "Enable Dark Mode";

            submit.setAttribute('class', 'btn btn-primary')
            mode = 'light'
        }
        else {
            document.body.style = 'background: #343a40';
            navBar.setAttribute('class', 'navbar navbar-expand-lg navbar-dark bg-dark');
            searchBtn.setAttribute('class', 'btn btn-outline-light')
            switchModeBtnLabel.setAttribute('style', "color: white")
            switchModeBtnLabel.innerHTML = "Disable Dark Mode";
            mode = 'dark';
            submit.setAttribute('class', 'btn btn-dark')
        }
    });
</script>