<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View User</li>
    </ol>
</nav>

<div class="view-user p-5">
    {{#each rows}}
    <div class="row mb-5">
        <div class="col text-center">
            <h3 id="userfirstlast" style="color: white;">{{this.first_name}} {{this.last_name}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-dark" id='viewUserTable'>
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{this.first_name}}</th>
                        <td>{{this.last_name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" id='userComments' style="color: white;">
            <div class="col">
                <b>About</b>
            </div>
            <div class="row">
                <div class="col">
                    {{this.comments}}
                </div>
            </div>
        </div>

    </div>
    {{/each}}
</div>

<script>
    let mode = 'dark';
    document.body.style = 'background: #343a40';
    let navBar = document.getElementById('navBar');
    let switchModeBtnLabel = document.getElementById('labelForMode');
    let searchBtn = document.getElementById('searchBtn');
    let modeSwitchBtn = document.getElementById('switchModeBtn');
    let userfirstlast = document.getElementById('userfirstlast');
    let viewUserTable = document.getElementById('viewUserTable');
    let userComments = document.getElementById('userComments');

    modeSwitchBtn.addEventListener('click', () => {
        if (mode === 'dark') {
            document.body.style = 'background: white'
            navBar.setAttribute('class', 'navbar navbar-expand-lg navbar-dark bg-primary');
            searchBtn.setAttribute('class', 'btn btn-outline-light')
            switchModeBtnLabel.setAttribute('style', "color: white")
            switchModeBtnLabel.innerHTML = "Enable Dark Mode";
            userfirstlast.setAttribute('style', "color: black;")
            viewUserTable.setAttribute('class', 'table table-bordered table-light')
            userComments.setAttribute('style', 'color:black');
            mode = 'light';
        }
        else {
            document.body.style = 'background:#343a40 ';
            navBar.setAttribute('class', 'navbar navbar-expand-lg navbar-dark bg-dark');
            searchBtn.setAttribute('class', 'btn btn-outline-light')
            switchModeBtnLabel.setAttribute('style', "color: white")
            switchModeBtnLabel.innerHTML = "Disable Dark Mode";
            userfirstlast.setAttribute('style', "color: white;")
            viewUserTable.setAttribute('class', 'table table-bordered table-dark')
            userComments.setAttribute('style', 'color:white');
            mode = 'dark';
        }
    });
</script>